<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>group.YG25GXN392.com.yefga.GoatWeather</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSLocationUsageDescription</key>
	<string>We require your location to provide personalized backgrounds based on the current weather. Granting access will allow us to enhance your experience by dynamically adjusting the widget background to match the weather conditions in your area.</string>
</dict>
</plist>
